version: '3.8'

services:
  db:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: backend-api
    ports:
      - "5000:5000"
    volumes:
      - ./backend/src:/app/src
    depends_on:
      - db
    networks:
      - app-network
    environment:
      - MONGO_URI=mongodb://db:27017/sme-agency-db
      - PORT=5000

  frontend:
    build: ./frontend
    container_name: frontend-app
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/src:/app/src
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
    driver: local